*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #dfe6d9;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container .calendar{
    width: 546px;
    height: 622px;
    background-color: #fff;
    box-shadow: 0px, 0px, 15px, 3px  rgba(0, 0, 0, 2);
    font-family: "Roboto", sans-serif;
}
.container .clock{
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
}
.container .clock:hover{
    background: linear-gradient(to top, #008184 0%, #005658 100%);
}

.clock .time{
    font-size: 50px;
    color: #fff;
}
.clock .time .format{
    font-size: 25px;
}

.calendar .month{
    width: 100%;
    height: 35%;
    display: flex;
    background-color: #008184;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 84px, 30px, 40px, 30px;
    text-align: center;
}
.month p{
    margin-top: 5px;
    font-size: 17px;
}
.month h2{
    font-size: 32px;
    margin-top: 5px;
}
.month .arrow{
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: #016d6f;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0,3s;
    
}

.month .arrow:hover{
    background-color: #008184;
}